@import './variable.scss';

.layout-topbar {
  position: fixed;
  height: 66px;
  padding: 15px 100px 15px 100px;
  z-index: 2;
  right: 0;
  left: 0px;
  background: #292e35;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo-header {
    width: 100px;
  }
  .search-header {
    // background-color: aquamarine;
    max-width: 550px;
    width: 550px;
    .wrap-srch-input {
      display: flex;
      align-items: center;
      position: relative;
      .left-ic, .right-ic {
        position: absolute;
      }
      .left-ic {
        left: 0;
        margin-left: 12px;
      }
      .right-ic {
        right: 0;
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }
      input.p-inputtext.p-component.input-header {
        background-color: #24282f;
        font-size: 16px;
        height: 36px;
        padding: 5px 35px 10px 40px;
        width: 100%;
        border: transparent;
        color: #E5E5E5;
      }
      input.p-inputtext.p-component.input-header::placeholder {
        color: #E5E5E5;
        font-weight: 400;
      }
      input.input-header.p-inputtext:enabled:hover {
        border-color: transparent;
      }
      input.input-header.p-inputtext:enabled:focus {
        outline: none;
        outline-offset: initial;
        box-shadow: none;
        border-color: transparent;
      }
    }
  }
}

.layout-main {
  // background: $color-background;
  // background: linear-gradient(
  //   to top,
  //   pink 0%,
  //   pink 50%,
  //   paleturquoise 50%,
  //   paleturquoise 100%
  // )
  // background-color: aliceblue;
  margin-left: 0;
  padding: 65px 0 0 0;
  min-height: 100vh;
  transition: all 0.5s ease;

  .content {
    display: flex;
    flex-direction: column;
  }
}

.layout-wrapper {
  min-height: 100vh;
}